<div class="bigcontainer">

  <div class="img_container">
    <button class="btn btn-default" style="float: left" >Store Outfit</button>
    <div class="item_placeholder ui-widget-header droppable" id="top_holder">Top</div>
    <div class="item_placeholder ui-widget-header droppable" id="bottom_holder">Bottom</div>
    <div class="item_placeholder ui-widget-header droppable" id="bag_holder">Bag</div>
    <div class="item_placeholder ui-widget-header droppable" id="shoe_holder">Shoes</div>
  </div>

  <div class="content_container">
    <div class="btn-group" role="group" aria-label="...">
     <a href="/wardrobe?category_id= " class="btn btn-default">Whole Wardrobe</a>

     <% @category.each do |cate|%>
     <a href="/wardrobe?category_id=<%= cate.id%>" class="btn btn-default"><%= cate.lvl1.capitalize%> </a>   
     <% end %>
    </div>

    <div class="content_list" id="multiple_display">
     Browse
     <div id="display_imgs">
      <% @garments.each do |gar| %>
        <a href="/garment/<%= gar.id %>" title="<%= gar.garment_name%>" class="grid_display"> 
          <% if gar.image.to_s.empty? %>
            <img src="/images/notavailable.png" class="img-rounded ui-widget-content draggable">
          <% else%>
            <img src=" <%= gar.image %>" class="img-rounded ui-widget-content draggable">
          <% end %>

         </a>
       <% end %>
     </div>
    </div>
  </div>
</div>